<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pconley.vamp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".LibraryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackViewActivity"
            android:label="@string/title_activity_track_view"
            android:parentActivityName=".LibraryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pconley.vamp.LibraryActivity" />
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="@string/title_activity_player"
            android:launchMode="singleTop"
            android:parentActivityName=".LibraryActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pconley.vamp.LibraryActivity" />
        </activity>

        <receiver android:name="pconley.vamp.player.PlayerSystemReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <service android:name="pconley.vamp.player.PlayerService" />
    </application>

</manifest>